*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Mono', monospace;
}

.container{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.heading-container{
    margin-bottom: 2.5rem;
    text-align: center;
}

.heading-container h2{
    color: #4D4C7D;
}

.heading-container > *{
    padding: 0.3125rem;
}

.signin-form{
    width: 25rem;
    background-color: #FAFAFA;
    color: #000;
    padding: 2rem;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.group{
    margin-bottom: 1.875rem;
}